.videos-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 12px;
    margin-left: 120px;
    margin-top: 110px;
    margin-right: 20px;
}

.thumbnail {
    display: block;
    width: 100%;
}

.channel-logo {
    height: 40px;
    border-radius: 20px;
}

.channel-icon {
    margin-top: 6px;
    cursor: pointer;
}

.video-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.about-video {
    margin-top: -10px;
}

.video-title {
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.channel-name {
    margin-top: -8px;
    margin-bottom: 4px;
    color: gray;
    cursor: pointer;
}

.channel-link {
    text-decoration: none;
}

.videos-stats {
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
    cursor: pointer;
}

.thumbnail-section {
    position: relative;
}

.video-time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
    opacity: 0.78;
}

.video-title.change {
    color: white;
}

@media (max-width:560px) {
    .videos-section {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
        margin-top: 81.4px;
        margin-left: 0;
        margin-right: 0;
    }

    .video-info {
        margin-left: 8px;
    }
}

@media (min-width:561px) and (max-width:750px) {
    .videos-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:751px) and (min-width:999px) {
    .videos-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .videos-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
